<div class="container">
    <h1>Nested Form</h1>
    <form [formGroup]="userForm" autocomplete="off" novalidate>
        <div>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input formControlName="firstName" matInput type="text" placeholder="Enter First Name">
                <mat-hint>Enter First Name</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput type="text" placeholder="Last First Name">
                <mat-hint>Enter Last Name</mat-hint>
            </mat-form-field>
            <br />
            <mat-label>Gender</mat-label><br />
            <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button> <br />
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <br />
            <mat-checkbox formControlName="checked">Is Submit</mat-checkbox>
            <br />
        </div>

        <form formGroupName="userAddress">
            <mat-form-field>
                <mat-label>Address 1</mat-label>
                <input matInput formControlName="address1" type="text" placeholder="Address 1">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Address 2</mat-label>
                <input matInput formControlName="address2" type="text" placeholder="Address 2">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select formControlName="state" (selectionChange)="filterDist($event.value)">
                    <mat-option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="dist" [(value)]="selectedValue">
                    <mat-option *ngFor="let dist of districts" [value]="dist.id">{{dist.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>

        <button mat-flat-button color="primary" (click)="saveData()" [disabled]>Save</button> &nbsp;
        <button mat-flat-button color="primary" (click)="clearForm()">Clear</button>

    </form>

    <pre>
        {{result | json}}
    </pre>

</div>